@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #ff7a00;
  --color-primary-dark: #ea580c;
  --color-primary-soft: rgba(255, 122, 0, 0.15);
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-surface-hover: #27272a;
  --color-border: #27272a;
  --color-foreground: #fafafa;
  --color-gray: #a1a1aa;

  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-inter);
    background-color: var(--color-background);
    color: var(--color-foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-poppins);
  }
}